{% extends "app/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="max-w-4xl mx-auto">
  <h1 class="text-3xl font-bold text-center">ホーム</h1>
</div>

<div class="max-w-4xl mx-auto p-6">
  <!-- myprofile -->
  <div class="bg-white rounded-3xl shadow-xl p-8 mb-8">
    <h2 class="text-2xl font-bold mb-6 text-gray-800">{{ _('プロフィール') }}</h2>
    <div class="flex items-center gap-6">
      <p class="text-3xl font-bold text-gray-900 mb-2">山田太郎</p>
      <p class="text-2xl">今日の気分：{mood_stamp}</p>
    </div>
  </div>

  <!-- friends -->
  <h2 class="text-2xl font-bold mb-6 text-gray-800">{{ _('友達') }}</h2>
  <div class="flex flex-col gap-6 bg-white rounded-3xl shadow-xl p-8">
    <div class="flex items-center gap-6">
      <p class="text-3xl font-bold text-gray-900 mb-2">山田太郎</p>
      <p class="text-2xl">今日の気分：{mood_stamp}</p>
    </div>
  </div>
</div>



{% endblock %}