<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Stampy{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/sanitize.css') }}">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Potta+One&display=swap" rel="stylesheet">

</head>
<body class="bg-gray-100 text-gray-900">

  <!-- header -->
  <header class="w-full fixed top-0 left-0 right-0 flex items-center justify-center bg-blue-500 text-white p-4 shadow-lg">
    <h1 class="text-3xl font-bold p-2">{{ _('Stampy') }}</h1>
  </header>

  <!-- main -->
  <main class="min-h-screen overflow-y-auto pt-24 px-6 ">
    {% block content %}{% endblock %}
  </main>
</body>
</html>