<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Stampy{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/sanitize.css') }}">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Potta+One&display=swap" rel="stylesheet">

</head>
<body class="bg-gray-100 text-gray-900">

  <!-- header -->
  <header class="w-full fixed top-0 left-0 right-0 bg-blue-500 text-white py-4 px-4 sm:px-10 shadow-lg">
    <div class="w-full flex items-center relative">
      <h1 class="text-3xl font-bold p-2">{{ _('Stampy') }}</h1>
      <h2 class="absolute left-1/2 -translate-x-1/2 text-3xl font-bold text-center">{% block page_title %}Page title{% endblock %}</h2>
    </div>
  </header>

  <!-- nav menu -->
  <nav class="fixed bottom-0 left-0 right-0 bg-white border-t-4 border-gray-200 shadow-2xl">
    <ul class="max-w-4xl mx-auto flex justify-around items-center p-4">
      <li class="inline-block text-center text-xs text-gray-700">
        <a href="{{ url_for('routes.home') }}">
          <img src="{{ url_for('static', filename='icons/main/home.svg') }}">
          <span>{{ _('ホーム') }}</span>
        </a>
      </li>
      <li class="inline-block text-center text-xs text-gray-700">
        <a href="{{ url_for('routes.talks') }}">
          <img src="{{ url_for('static', filename='icons/main/talk.svg') }}">
          <span>{{ _('トーク') }}</span>
        </a>
      </li>
      <li class="inline-block text-center text-xs text-gray-700">
        <a href="{{ url_for('routes.settings') }}">
          <img src="{{ url_for('static', filename='icons/main/setting.svg') }}">
          <span>{{ _('設定') }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- main -->
  <main class="min-h-screen overflow-y-auto max-w-2xl mx-auto bg-white pt-24 pb-20">
    {% block content %}{% endblock %}
  </main>
</body>
</html>